@charset "UTF-8";
/*css註解*/
.logo {
  position: relative;
  top: 0px;
}

nav {
  position: relative;
  top: 0px;
}

nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  width: 120px;
  margin: 0 10px;
  background-color: #d6d6d6;
}
nav ul li a {
  text-decoration: none;
  background-color: rgb(48, 48, 235);
  padding: 5px 10px;
  color: #fff;
  display: block;
  transition: all 0.3s ease;
}
nav ul li a:hover {
  background-color: #1010a5;
}
nav ul li a::before {
  content: " + ";
}

.wrapper header {
  display: flex;
  background-color: #eeeeee;
  justify-content: space-between;
}
.wrapper header .logo {
  width: 80px;
  height: 80px;
  background-color: #858585;
}
@media screen and (max-width: 996px) {
  .wrapper header .logo {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 720px) {
  .wrapper header .logo {
    background-color: #ff0000;
  }
}

footer {
  width: 100%;
  min-height: 400px;
  background-color: #fbb793;
}

body {
  padding: 0;
  margin: 10px auto;
  font-size: 16px;
  background-color: #eee;
  color: #333;
}

.content {
  background-color: #fffd95;
  min-height: 500px;
}

.row {
  width: 100%;
}

.row-fixed {
  width: 1200px;
  margin: auto;
}

.index .banner {
  width: 100%;
  height: 300px;
  background-color: #d2d2d2;
}
@media screen and (max-width: 996px) {
  .index .banner {
    background-color: #fb3333;
    width: 90%;
    margin: auto;
  }
}
@media screen and (max-width: 720px) {
  .index .banner {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .index .banner {
    font-size: 80px;
    color: #fff;
  }
}

.about .banner {
  width: 100%;
  height: 150px;
  background-color: #d2d2d2;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

[class*=col-],
.col {
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

/* --------------------------------------- */
.row-cols-1 .col {
  width: 100%;
}

.row-cols-2 .col {
  width: 50%;
}

.row-cols-3 .col {
  width: 33.3333%;
}

.row-cols-4 .col {
  width: 25%;
}

.row-cols-5 .col {
  width: 20%;
}

.row-cols-6 .col {
  width: 16.6667%;
}

@media screen and (min-width: 726px) {
  .row-cols-md-1 .col {
    width: 100%;
  }
  .row-cols-md-2 .col {
    width: 50%;
  }
  .row-cols-md-3 .col {
    width: 33.3333%;
  }
  .row-cols-md-4 .col {
    width: 25%;
  }
  .row-cols-md-5 .col {
    width: 20%;
  }
  .row-cols-md-6 .col {
    width: 16.6667%;
  }
}
@media screen and (min-width: 1024px) {
  .row-cols-lg-1 .col {
    width: 100%;
  }
  .row-cols-lg-2 .col {
    width: 50%;
  }
  .row-cols-lg-3 .col {
    width: 33.3333%;
  }
  .row-cols-lg-4 .col {
    width: 25%;
  }
  .row-cols-lg-5 .col {
    width: 20%;
  }
  .row-cols-lg-6 .col {
    width: 16.6667%;
  }
}
@media screen and (min-width: 1200px) {
  .row-cols-xl-1 .col {
    width: 100%;
  }
  .row-cols-xl-2 .col {
    width: 50%;
  }
  .row-cols-xl-3 .col {
    width: 33.3333%;
  }
  .row-cols-xl-4 .col {
    width: 25%;
  }
  .row-cols-xl-5 .col {
    width: 20%;
  }
  .row-cols-xl-6 .col {
    width: 16.6667%;
  }
}
.spacing-1 {
  left: 300;
}

.a {
  width: 100px;
}
.a span {
  height: 100px;
}

.cal {
  width: 20px;
  height: 90em;
  max-width: 100;
  font: 10px;
}

.dark {
  background-color: black;
}

.light {
  background-color: white;
}

.number {
  font-size: 101px;
  font-size: 101px;
  font-size: 100px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #95ff00;
}

.left-1 {
  position: relative;
  left: 1px;
}

.left-2 {
  position: relative;
  left: 2px;
}

.left-3 {
  position: relative;
  left: 3px;
}

.left-4 {
  position: relative;
  left: 4px;
}

.left-5 {
  position: relative;
  left: 5px;
}

.left-6 {
  position: relative;
  left: 6px;
}

.left-7 {
  position: relative;
  left: 7px;
}

.left-8 {
  position: relative;
  left: 8px;
}

.left-9 {
  position: relative;
  left: 9px;
}

.left-10 {
  position: relative;
  left: 10px;
}

.left-11 {
  position: relative;
  left: 11px;
}

.left-12 {
  position: relative;
  left: 12px;
}

.left-13 {
  position: relative;
  left: 13px;
}

.left-14 {
  position: relative;
  left: 14px;
}

.left-15 {
  position: relative;
  left: 15px;
}

.left-16 {
  position: relative;
  left: 16px;
}

.left-17 {
  position: relative;
  left: 17px;
}

.left-18 {
  position: relative;
  left: 18px;
}

.left-19 {
  position: relative;
  left: 19px;
}

.left-20 {
  position: relative;
  left: 20px;
}

.left-21 {
  position: relative;
  left: 21px;
}

.left-22 {
  position: relative;
  left: 22px;
}

.left-23 {
  position: relative;
  left: 23px;
}

.left-24 {
  position: relative;
  left: 24px;
}

.left-25 {
  position: relative;
  left: 25px;
}

.left-26 {
  position: relative;
  left: 26px;
}

.left-27 {
  position: relative;
  left: 27px;
}

.left-28 {
  position: relative;
  left: 28px;
}

.left-29 {
  position: relative;
  left: 29px;
}

.left-30 {
  position: relative;
  left: 30px;
}

.left-31 {
  position: relative;
  left: 31px;
}

.left-32 {
  position: relative;
  left: 32px;
}

.left-33 {
  position: relative;
  left: 33px;
}

.left-34 {
  position: relative;
  left: 34px;
}

.left-35 {
  position: relative;
  left: 35px;
}

.left-36 {
  position: relative;
  left: 36px;
}

.left-37 {
  position: relative;
  left: 37px;
}

.left-38 {
  position: relative;
  left: 38px;
}

.left-39 {
  position: relative;
  left: 39px;
}

.left-40 {
  position: relative;
  left: 40px;
}

.left-41 {
  position: relative;
  left: 41px;
}

.left-42 {
  position: relative;
  left: 42px;
}

.left-43 {
  position: relative;
  left: 43px;
}

.left-44 {
  position: relative;
  left: 44px;
}

.left-45 {
  position: relative;
  left: 45px;
}

.left-46 {
  position: relative;
  left: 46px;
}

.left-47 {
  position: relative;
  left: 47px;
}

.left-48 {
  position: relative;
  left: 48px;
}

.left-49 {
  position: relative;
  left: 49px;
}

.left-50 {
  position: relative;
  left: 50px;
}

.left-51 {
  position: relative;
  left: 51px;
}

.left-52 {
  position: relative;
  left: 52px;
}

.left-53 {
  position: relative;
  left: 53px;
}

.left-54 {
  position: relative;
  left: 54px;
}

.left-55 {
  position: relative;
  left: 55px;
}

.left-56 {
  position: relative;
  left: 56px;
}

.left-57 {
  position: relative;
  left: 57px;
}

.left-58 {
  position: relative;
  left: 58px;
}

.left-59 {
  position: relative;
  left: 59px;
}

.left-60 {
  position: relative;
  left: 60px;
}

.left-61 {
  position: relative;
  left: 61px;
}

.left-62 {
  position: relative;
  left: 62px;
}

.left-63 {
  position: relative;
  left: 63px;
}

.left-64 {
  position: relative;
  left: 64px;
}

.left-65 {
  position: relative;
  left: 65px;
}

.left-66 {
  position: relative;
  left: 66px;
}

.left-67 {
  position: relative;
  left: 67px;
}

.left-68 {
  position: relative;
  left: 68px;
}

.left-69 {
  position: relative;
  left: 69px;
}

.left-70 {
  position: relative;
  left: 70px;
}

.left-71 {
  position: relative;
  left: 71px;
}

.left-72 {
  position: relative;
  left: 72px;
}

.left-73 {
  position: relative;
  left: 73px;
}

.left-74 {
  position: relative;
  left: 74px;
}

.left-75 {
  position: relative;
  left: 75px;
}

.left-76 {
  position: relative;
  left: 76px;
}

.left-77 {
  position: relative;
  left: 77px;
}

.left-78 {
  position: relative;
  left: 78px;
}

.left-79 {
  position: relative;
  left: 79px;
}

.left-80 {
  position: relative;
  left: 80px;
}

.left-81 {
  position: relative;
  left: 81px;
}

.left-82 {
  position: relative;
  left: 82px;
}

.left-83 {
  position: relative;
  left: 83px;
}

.left-84 {
  position: relative;
  left: 84px;
}

.left-85 {
  position: relative;
  left: 85px;
}

.left-86 {
  position: relative;
  left: 86px;
}

.left-87 {
  position: relative;
  left: 87px;
}

.left-88 {
  position: relative;
  left: 88px;
}

.left-89 {
  position: relative;
  left: 89px;
}

.left-90 {
  position: relative;
  left: 90px;
}

.left-91 {
  position: relative;
  left: 91px;
}

.left-92 {
  position: relative;
  left: 92px;
}

.left-93 {
  position: relative;
  left: 93px;
}

.left-94 {
  position: relative;
  left: 94px;
}

.left-95 {
  position: relative;
  left: 95px;
}

.left-96 {
  position: relative;
  left: 96px;
}

.left-97 {
  position: relative;
  left: 97px;
}

.left-98 {
  position: relative;
  left: 98px;
}

.left-99 {
  position: relative;
  left: 99px;
}

.left-100 {
  position: relative;
  left: 100px;
}

.top-1 {
  position: relative;
  top: 1px;
}

.top-2 {
  position: relative;
  top: 2px;
}

.top-3 {
  position: relative;
  top: 3px;
}

.top-4 {
  position: relative;
  top: 4px;
}

.top-5 {
  position: relative;
  top: 5px;
}

.top-6 {
  position: relative;
  top: 6px;
}

.top-7 {
  position: relative;
  top: 7px;
}

.top-8 {
  position: relative;
  top: 8px;
}

.top-9 {
  position: relative;
  top: 9px;
}

.top-10 {
  position: relative;
  top: 10px;
}

.top-11 {
  position: relative;
  top: 11px;
}

.top-12 {
  position: relative;
  top: 12px;
}

.top-13 {
  position: relative;
  top: 13px;
}

.top-14 {
  position: relative;
  top: 14px;
}

.top-15 {
  position: relative;
  top: 15px;
}

.top-16 {
  position: relative;
  top: 16px;
}

.top-17 {
  position: relative;
  top: 17px;
}

.top-18 {
  position: relative;
  top: 18px;
}

.top-19 {
  position: relative;
  top: 19px;
}

.top-20 {
  position: relative;
  top: 20px;
}

.top-21 {
  position: relative;
  top: 21px;
}

.top-22 {
  position: relative;
  top: 22px;
}

.top-23 {
  position: relative;
  top: 23px;
}

.top-24 {
  position: relative;
  top: 24px;
}

.top-25 {
  position: relative;
  top: 25px;
}

.top-26 {
  position: relative;
  top: 26px;
}

.top-27 {
  position: relative;
  top: 27px;
}

.top-28 {
  position: relative;
  top: 28px;
}

.top-29 {
  position: relative;
  top: 29px;
}

.top-30 {
  position: relative;
  top: 30px;
}

.top-31 {
  position: relative;
  top: 31px;
}

.top-32 {
  position: relative;
  top: 32px;
}

.top-33 {
  position: relative;
  top: 33px;
}

.top-34 {
  position: relative;
  top: 34px;
}

.top-35 {
  position: relative;
  top: 35px;
}

.top-36 {
  position: relative;
  top: 36px;
}

.top-37 {
  position: relative;
  top: 37px;
}

.top-38 {
  position: relative;
  top: 38px;
}

.top-39 {
  position: relative;
  top: 39px;
}

.top-40 {
  position: relative;
  top: 40px;
}

.top-41 {
  position: relative;
  top: 41px;
}

.top-42 {
  position: relative;
  top: 42px;
}

.top-43 {
  position: relative;
  top: 43px;
}

.top-44 {
  position: relative;
  top: 44px;
}

.top-45 {
  position: relative;
  top: 45px;
}

.top-46 {
  position: relative;
  top: 46px;
}

.top-47 {
  position: relative;
  top: 47px;
}

.top-48 {
  position: relative;
  top: 48px;
}

.top-49 {
  position: relative;
  top: 49px;
}

.top-50 {
  position: relative;
  top: 50px;
}

.top-51 {
  position: relative;
  top: 51px;
}

.top-52 {
  position: relative;
  top: 52px;
}

.top-53 {
  position: relative;
  top: 53px;
}

.top-54 {
  position: relative;
  top: 54px;
}

.top-55 {
  position: relative;
  top: 55px;
}

.top-56 {
  position: relative;
  top: 56px;
}

.top-57 {
  position: relative;
  top: 57px;
}

.top-58 {
  position: relative;
  top: 58px;
}

.top-59 {
  position: relative;
  top: 59px;
}

.top-60 {
  position: relative;
  top: 60px;
}

.top-61 {
  position: relative;
  top: 61px;
}

.top-62 {
  position: relative;
  top: 62px;
}

.top-63 {
  position: relative;
  top: 63px;
}

.top-64 {
  position: relative;
  top: 64px;
}

.top-65 {
  position: relative;
  top: 65px;
}

.top-66 {
  position: relative;
  top: 66px;
}

.top-67 {
  position: relative;
  top: 67px;
}

.top-68 {
  position: relative;
  top: 68px;
}

.top-69 {
  position: relative;
  top: 69px;
}

.top-70 {
  position: relative;
  top: 70px;
}

.top-71 {
  position: relative;
  top: 71px;
}

.top-72 {
  position: relative;
  top: 72px;
}

.top-73 {
  position: relative;
  top: 73px;
}

.top-74 {
  position: relative;
  top: 74px;
}

.top-75 {
  position: relative;
  top: 75px;
}

.top-76 {
  position: relative;
  top: 76px;
}

.top-77 {
  position: relative;
  top: 77px;
}

.top-78 {
  position: relative;
  top: 78px;
}

.top-79 {
  position: relative;
  top: 79px;
}

.top-80 {
  position: relative;
  top: 80px;
}

.top-81 {
  position: relative;
  top: 81px;
}

.top-82 {
  position: relative;
  top: 82px;
}

.top-83 {
  position: relative;
  top: 83px;
}

.top-84 {
  position: relative;
  top: 84px;
}

.top-85 {
  position: relative;
  top: 85px;
}

.top-86 {
  position: relative;
  top: 86px;
}

.top-87 {
  position: relative;
  top: 87px;
}

.top-88 {
  position: relative;
  top: 88px;
}

.top-89 {
  position: relative;
  top: 89px;
}

.top-90 {
  position: relative;
  top: 90px;
}

.top-91 {
  position: relative;
  top: 91px;
}

.top-92 {
  position: relative;
  top: 92px;
}

.top-93 {
  position: relative;
  top: 93px;
}

.top-94 {
  position: relative;
  top: 94px;
}

.top-95 {
  position: relative;
  top: 95px;
}

.top-96 {
  position: relative;
  top: 96px;
}

.top-97 {
  position: relative;
  top: 97px;
}

.top-98 {
  position: relative;
  top: 98px;
}

.top-99 {
  position: relative;
  top: 99px;
}

.top-100 {
  position: relative;
  top: 100px;
}

.img-slider1 {
  background-image: url("images/slider1.jpg");
}

.img-slider2 {
  background-image: url("images/slider2.jpg");
}

.img-slider3 {
  background-image: url("images/slider3.jpg");
}

/*# sourceMappingURL=style.css.map */
