/*css註解*/
// css import
// @import url();
// sass import

@use 'sass:math';

// base 變數
@import 'base/var';
@import 'base/color';
@import 'base/font';

// mixin function
@import 'mixin/mixin';

// component 組件
@import 'component/btn';
@import 'component/card';
@import 'component/form';
@import 'component/table';

// layout
@import 'layout/header';
@import 'layout/footer';
@import 'layout/login';
@import 'layout/body';

//page 頁面
@import 'page/index';
@import 'page/about';

// 套件 
// @import  'plugin/xxx'




$d : 300;
$d : 150 !default;

.spacing-1 {
    left: $d
}


// content的用法
@mixin a(){
  width: 100px;
  span {
    @content;
  }
}
.a {
 @include a(){
    height: 100px;
 }
}

//運算子

.cal {
  width: 10 + 10px;
  height: 100 - 10em ;
  max-width:  10 * 10;
//   font: (100 / 10) + px;
 font: math.div(100 , 10) + px;

}






