/*css註解*/
// css import
// @import url();


// sass import
// base 變數
@import 'base/var';
@import 'base/color';
@import 'base/font';

// mixin function
@import 'mixin/mixin';

// component 組件
@import 'component/btn';
@import 'component/card';
@import 'component/form';
@import 'component/table';

// layout
@import 'layout/header';
@import 'layout/footer';
@import 'layout/login';
@import 'layout/nav';

//page 頁面
@import 'page/index';
@import 'page/about';

// 套件 
// @import  'plugin/xxx'


body {
    //$a : 20 !global; 新版的sass不支援 區域變數轉全域，但可以執行，我們比較少用  
    padding: 0;
    margin: $margin;
    font-size: $fontSize;
    background-color: $bgc;
    color: $color
}

$d : 300;
$d : 150 !default;

.spacing-1 {
    left: $d
}

//header 

.wrapper {
    .row {
        header {
            display: flex;
            background-color: #eeeeee;

            .logo {
                width: 80px;
                height: 80px;
                background-color: #858585;
            }

            nav {
                ul {
                    list-style: none;
                    display: flex;

                    li {
                        width: 120px;
                        margin: 0 10px;
                        background-color: #d6d6d6;
                    }
                }
            }
        }
    }

}