@import 'nav';
.wrapper {
    .row {
        header {
            display: flex;
            background-color: #eeeeee;
            justify-content: space-between;

            .logo {
                width: 80px;
                height: 80px;
                background-color: #858585;
            }
        }
    }

}