//字體顏色
$fontColor : #333;
$color : #333; //顏色
$bgc : #fff9c7; //背景

// 灰階 gray
$gray-100 : #d2d2d2;


$color : (
    primary : #5188F6,
    secondary: #AA72F8,
    success : #4ADE80,
);


//主色
$primary : rgb(48, 48, 235);

//次要

//警告

//成功顏色

//陰影

//邊框

