//宣告


//==== 位移 ===
// @mixin top{}
@mixin top($top , $left: null) {
    position: relative;
    top: $top;
    left: $left;
}

//呼叫 top
.logo {
    @include top(0px);
}

nav {
    @include top(0px);
}

@mixin center() {
    margin: auto;
}

// 判斷式
@mixin layout($w) {
    @if $w ==100 {
        width: 100%;
    }

    @else if $w < 100 {
        width: $w *1%;
        @include center();
    }

    @else {
        width: $w + px;
        @include center();
    }
}

//RWD mixin
//平版
@mixin t(){
    @media screen and (max-width:$t) {
       @content;
    }
}
//手機
@mixin m(){
    @media screen and (max-width:$m) {
        @content;
    }
}
//任意斷點
@mixin bp($b){
    @media screen and (max-width:$b) {
        @content;
    }
}




//用法
// @include t(){}
// @include m(){}
// @include bp(576px){}


// push 推區塊
//@include push(left , 100);
// @include push(top , 100)

@mixin push($dir , $value) {
    @for $i from 1 through $value {
        .#{$dir}-#{$i} {
            position: relative;
            #{$dir}: $i + px;
        }
    }
}


