//宣告


//==== 位移 ===
// @mixin top{}
@mixin top($top , $left: null) {
    position: relative;
    top: $top;
    left: $left;
}

//呼叫 top
.logo {
    @include top(0px);
}

nav {
    @include top(0px);
}

@mixin center() {
    margin: auto;
}

// 判斷式
@mixin layout($w) {
    @if $w ==100 {
        width: 100%;
    }

    @else if $w < 100 {
        width: $w *1%;
        @include center();
    }

    @else {
        width: $w + px;
        @include center();
    }
}

//RWD mixin
//平版
@mixin t(){
    @media screen and(max-width:$t) {
       @content;
    }
}
//手機
@mixin m(){
    @media screen and(max-width:$m) {
        @content;
    }
}





